@import url("https://use.typekit.net/aos2jgd.css");


html, body, div, span, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  overflow: hidden;
}

html, body {
  height: 100%;
  font-family: "futura-pt-bold", sans-serif;
  background-color: rgb(12, 12, 12);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

footer {
  height: 80px;
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
  font-size: 9px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#wrapper_pc .contants_pc {
    position: absolute;
    width: 100%;
    margin: 0 0 0 19px;
    top: 62%;
}

#wrapper_pc .contants_pc .contants {
    font-size: 2em;
}

#wrapper_pc .contants_pc .contants .title {
    font-size: 1.2em;
    letter-spacing : 0.1rem;
    color: #F25929;
    margin: 0px;
}

#wrapper_pc .contants_pc .contants .des {
    font-size: 0.4rem;
    font-family: "futura-pt", sans-serif;
    letter-spacing : 0.1rem;
    line-height: 1.5rem;
    color: #fff;
    margin: 0px;
}

#wrapper_pc .bg {
  position: absolute;
  width: 100%;
  margin-top: 11.5vh;
  margin-bottom: 21.9vh;
  height: 66.6vh;
}

#wrapper_pc .bg .bg_container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper_pc .logo {
  position: relative;
  width: 96px;
  height: 32px;
  margin: 28px 0 0 21px;
  float: left;
}

#wrapper_pc footer .footer_wrap {
  position: relative;
  font-family: "futura-pt", sans-serif;
}

#wrapper_pc footer .company_name {
  float: left;
  margin: 44px 0 0 19px;
}

#wrapper_pc footer .copyright {
  float: right;
  margin: 44px 32px 0 0;
}